@import "../../assets/styles/variables/colors.scss";
@import "../../assets/styles/variables/fonts.scss";
@import "../../assets/styles/variables/displays.scss";

.Button {
    display: inline-block;
    align-items: center;
    padding: 0.5rem 2rem;
    background: transparent;
    text-transform: uppercase;
    text-align: center;
    color: $white;
    font-family: $font-title;
    font-size: 0.9rem;
    font-weight: 700;
    cursor: pointer;
    border: 1px solid $white;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;

    &:hover {
        background: $light-blue;
        border-color: $light-blue;
    }
}

.Accent {
    color: $black;
    border-color: $black;

    &:hover {
        color: $black;
        background: $white;
        border-color: $white; 
    }
}
