@import "../../assets/styles/variables/colors.scss";
@import "../../assets/styles/variables/displays.scss";

.Layout {
    position: relative;
    max-width: 1250px;
    margin: 0 auto;
}

.Padded {
    @extend .Layout;
    padding: 0;
}

@media only screen and (max-width: 1300px) {
    .Layout {
        padding: 0 2rem;
    }
}