@import "../../assets/styles/variables/colors.scss";
@import "../../assets/styles/variables/fonts.scss";
@import "../../assets/styles/variables/displays.scss";

.Section {
    position: relative;
    height: 400px;
    color: $black;

    .Overlay {
        z-index: 1;
        position: absolute;
        width: 100%;
        height: inherit;
        background: linear-gradient(45deg, rgba($white, 0.9) 50%, rgba($white, 0));
    }

    .Background {
        z-index: 0;
        position: absolute;
        width: 100%;
        height: inherit;

        img {
            width: 100%;
            height: inherit;
            object-fit: cover;
        }
    }

    .Quote {
        position: absolute;
        left: 10%;
        top: 10%;
        color: $green;
        font-family: $font-heading;
        font-size: 20rem;
        z-index: 2;
        opacity: 0.3;
    }

    .Content {
        position: relative;
        z-index: 3;
        height: inherit;
        display: flex;
        align-items: center;
    }
}