@import "../../assets/styles/variables/colors.scss";
@import "../../assets/styles/variables/fonts.scss";
@import "../../assets/styles/variables/displays.scss";

.Footer {
    min-height: 300px;
    background: $black;
    color: $white;
    border-top: 3px solid rgba($black, 0.2);
    padding: 3rem 2rem 2rem 2rem;

    h1 {
        color: $white;
        text-transform: uppercase;
    }

    li {
        margin-top: 0.5rem;
    }

    a {
        color: $white;
    }

    .Logo {
        max-width: 300px;
        // margin: 0 auto;
    }

    .Columns {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-top: 3rem;
        
        .Column {
            padding-right: 1.5rem;

            &:last-of-type {
                padding-right: 0;
            }
        }
    }

    .Bottom {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-top: 1rem;
        padding-top: 1rem;
        border-top: 1px solid rgba($white, 0.1);
        font-size: 0.8rem;
    }
}

@media only screen and (max-width: $phone) {
    .Footer {

    }
}