@tailwind base;
@tailwind components;
@tailwind utilities;

h1, h2, h3, h4 {
    @apply font-body;
}

h1 {
    @apply text-4xl;
}

h2 {
    @apply text-3xl;
}

h3 {
    @apply text-2xl;
}

.links a {
    @apply underline;
    @apply text-shade;
}

.background {
    background: linear-gradient(theme('colors.secondary'), theme('colors.primary'));
}

.background-2 {
    background: linear-gradient(theme('colors.shade'), theme('colors.primary'));
}

.background-3 {
    background: linear-gradient(theme('colors.primary'), theme('colors.shade'));
}

.background-4 {
    background: linear-gradient(theme('colors.accent'), theme('colors.secondary'));
}

.bg-pattern {
    background-image: url('../images/bg-waves.svg')
}
